
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Scanner</title>
</head>
<body>
    <h1>Scanner</h1>
    <form id="scanForm">
        <label for="link">Entrez un domaine:</label>
        <input type="text" id="link" name="link" required>
        <input type="hidden" id="type" name="type" value="">
        <button type="button" id="submitBtn_zap">Démarrer l'analyse Zap</button>
        <button type="button" id="submitBtn_nmap">Démarrer l'analyse Nmap</button>
        <button type="button" id="submitBtn_general">Démarrer l'analyse General(Nmap et Zap)</button>

    </form>
    <div id="error" style="color:red; display:none;"></div>
    <script>
        async function startScan(scanType, button) {
            const errorDiv = document.getElementById('error');
            const link = document.getElementById('link').value;
            const typeInput = document.getElementById('type');
            
            //attribution le type au champ caché
            typeInput.value = scanType;

            //désactiver le bouton pendant l'exécution
            button.disabled = true;
            const originalText = button.textContent;
            button.textContent = 'Départ...';
            errorDiv.style.display = 'none';

            try {
                const response = await fetch('/start-scan', {
                    method: 'POST',
                    headers: {'Content-Type': 'application/x-www-form-urlencoded'},
                    body: `link=${encodeURIComponent(link)}&type=${encodeURIComponent(scanType)}`
                });
                const data = await response.json();
                if (response.ok && data.scan_id) {
                    window.location.href = `/progress/${data.scan_id}`;
                } else {
                    throw new Error(data.error || "Erreur lors du démarrage de l'analyse");
                }
            } catch (error) {
                errorDiv.textContent = `Error: ${error.message}`;
                errorDiv.style.display = 'block';
                button.disabled = false;
                button.textContent = originalText;
            }
        }

        //attribuer des événements aux boutons
        document.getElementById('submitBtn_zap').addEventListener('click', function() {
            startScan('zap', this);
        });
        document.getElementById('submitBtn_nmap').addEventListener('click', function() {
            startScan('nmap', this);
        });
        document.getElementById('submitBtn_general').addEventListener('click', function() {
            startScan('both', this);
        });
    </script>
</body>
</html>
